<%# File Created on 07/19/2020 by Kevin Dong %>
<%# File Edited on 07/25/2020 by Kevin Dong: Change to bootstrap %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home/index"><em>FUR</em>EX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>
      <%# Edited on 07/25/2020 by Kevin Dong: search link and signout link %>
      <ul class="navbar-nav mc-auto">
            <div class="field p-1"><%= select_tag :sub_category, options_for_select(Globals::Filters::SUB_CAT) %></div>
            <%= link_to "Advanced Search", new_search_path, size: 10 %>
        <%= form_tag items_path, method: 'get', class: 'form-inline my-2 my-lg-0', role: 'search' do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-sm-2", 'aria-label' => "Search" %>
          <%= submit_tag 'Search', class: 'btn btn-outline-success my-2 my-sm-0' %>
        <% end %>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="../profile/user_profile">Account</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="../users/edit">Edit Account</a>
        </li>

        <li class="nav-item ">
          <%= link_to 'Sign Out', destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
      </ul>
  <% end %>
  </div>
</nav>