<%= form_tag searches_path, method: 'get' do %>
  <div class="field pt-2">
    <%= label_tag :keywords %>:
    <%= text_field_tag :keywords %>
  </div>

  <div class="field pt-2">
    <%= label_tag :color %>:
    <%= select_tag :color, options_for_select(Globals::Filters::COLORS) %>
  </div>

  <div class="field pt-2">
    <%= label_tag :quality %>:
    <%= select_tag :quality, options_for_select(Globals::Filters::QUALITY) %>
  </div>

  <div class="field pt-2">
    <%= label_tag :price %>:
    <%= number_field_tag :price, value = nil, in: 0...999, step: 0.01 %>
  </div>

  <div class="field pt-2">
    <%= label_tag :location %>:
    <%= select_tag :location, options_for_select(Globals::Filters::LOCATION) %>
  </div>

  <div class="actions pt-4">
    <%= submit_tag "Search", class: "btn btn-success" %>
  </div>
<% end %>