<%= form_with(model: search, method: 'post') do |filter| %>
  <div class="field pt-2">
    <%= filter.label :keywords%>:
    <%= filter.text_field(:keywords) %>
  </div>
  <div class="field pt-2">
    <%= filter.label :color %>:
    <%= filter.select :color, options_for_select(Globals::Filters::COLORS) %>
  </div>

  <div class="field pt-2">
    <%= filter.label :quality %>:
    <%= filter.select :quality, options_for_select(Globals::Filters::QUALITY) %>
  </div>

  <div class="field pt-2">
    <%= filter.label :price %>:
    <%= filter.text_field(:price) %>
  </div>
  <div class="field pt-2">
    <%= filter.label :location %>:
    <%= filter.select :location, options_for_select(Globals::Filters::LOCATION) %>
  </div>
  <div class="actions pt-4">
    <%= filter.submit "Search", class: "btn btn-success" %>
  </div>
<% end %>