<!-- File Edited on 07/25/2020 by Kevin Dong: Dropdowns -->
<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- File Edited on 07/25/2020 by Yifan Yao: Get user_id by controller -->
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.select :quality, options_for_select Globals::Filters::QUALITY %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.select :color, options_for_select Globals::Filters::COLORS %>
  </div>

  <div class="field">
    <%= form.select :location, options_for_select Globals::Filters::LOCATION %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.select :sub_category, options_for_select Globals::Filters::SUB_CAT %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class:"btn btn-success" %>
  </div>
<% end %>
