<!-- File Edited on 07/25/2020 by Kevin Dong: Dropdowns -->
<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation py-1">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- File Edited on 07/25/2020 by Yifan Yao: Get user_id by controller -->
  <div class="field py-1">
    <%= form.label :title %>:
    <%= form.text_field :title %>
  </div>

  <div class="field py-1">
    <%= form.label :quality %>:
    <%= form.select :quality, options_for_select(Globals::Items::QUALITY, item.quality)%>
  </div>

  <div class="field py-1">
    <%= form.label :price %>
    <%= form.number_field :price, in: 0...999, step: 0.01 %>
  </div>

  <div class="field py-1">
    <%= form.label :color %>:
    <%= form.select :color, options_for_select(Globals::Items::COLORS, item.color) %>
  </div>

  <div class="field py-1">
    <%= form.label :location %>:
    <%= form.select :location, options_for_select(Globals::Items::LOCATION, item.location) %>
  </div>

  <div class="field py-1">
    <%= form.label :sub_category %>:
    <%= form.select :sub_category, options_for_select(Globals::Items::SUB_CAT, item.sub_category) %>
  </div>

  <div class="field py-1">
    <%= form.label :description %>:
  <br>
    <%= form.text_area :description %>
  </div>

  <div class="field py-1">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="actions py-1">
    <%= form.submit "Submit", class:"btn btn-success" %>
  </div>
<% end %>
