<!-- File Edited on 07/21/2020 by Yifan Yao: Insert Bootstrap for better view -->
<!-- File Edited on 07/23/2020 by Troy Stein: Bars user access from modifying other people's entries -->
<!-- File Edited on 07/25/2020 by Yifan Yao: Bug fixes for user authentication -->
<!-- File Edited on 07/25/2020 by Yifan Yao: Add roles for Admin -->
<!-- File Edited on 07/26/2020 by Kevin Dong: Search filters -->
<!-- File Edited on 07/27/2020 by Yifan Yao: Display empty columns if user cannot make operations -->
<!-- File Edited on 07/28/2020 by Kevin Dong: Search filters removed, updated formatting -->
<div class="container-fluid bg">
  <h1 class="pt-3">Items</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Picture</th>
        <th scope="col">Seller</th>
        <th scope="col">Title</th>
        <th scope="col">Quality</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th colspan="3" scope="col">Operations</th>
      </tr>
      </thead>

      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td scope="col">
            <% if item.picture.attached? %>
              <img src="<%= (url_for(item.picture)) %>" class="w-75"/>
            <% else %>
              <h3>No Image attached</h3>
            <% end %></td>
          <td scope="col"><%= item.user_id %></td>
          <td scope="col"><%= item.title %></td>
          <td scope="col"><%= item.quality %></td>
          <td scope="col"><%= number_to_currency(item.price) %></td>
          <td scope="col"><%= item.sub_category %></td>
          <td><%= link_to 'Show', item , class: "btn btn-success my-2 my-sm-0"%></td>
          <% if item.user_id == current_user.id || current_user.admin %>
            <td><%= link_to 'Edit', edit_item_path(item) , class: "btn btn-primary my-2 my-sm-0"%></td>
            <td><%= link_to 'Destroy', item, class: "btn btn-danger my-2 my-sm-0", method: :delete, data: {confirm: 'Are you sure?'} %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
      </tr>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Item', new_item_path %>
</div>
