<!-- File Edited on 07/21/2020 by Yifan Yao: Insert Bootstrap for better view -->
<!-- File Edited on 07/23/2020 by Troy Stein: Bars user access from modifying other people's entries -->
<!-- File Edited on 07/25/2020 by Yifan Yao: Bug fixes for user authentication -->
<!-- File Edited on 07/25/2020 by Yifan Yao: Add roles for Admin -->
<!-- File Edited on 07/26/2020 by Kevin Dong: Search filters -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <h1 class="pt-3">Filters</h1>
      <%= form_with do %>
        <div class="field"><%= label_tag :color, "Color" %>: <%= text_field_tag(:color) %></div>
        <div class="field"><%= label_tag :color, "Quality" %>: <%= text_field_tag(:quality) %></div>
        <div class="field"><%= label_tag :color, "Price" %>: <%= text_field_tag(:price) %></div>
        <div class="actions pt-4"><%= submit_tag "Search", class:"btn btn-success" %></div>
      <% end %>

    </div>
    <div class="col-lg">
      <h1 class="pt-3">Items</h1>

      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Seller</th>
            <th scope="col">Title</th>
            <th scope="col">Quality</th>
            <th scope="col">Price</th>
            <th scope="col">Color</th>
            <th scope="col">Location</th>
            <th scope="col">Category</th>
            <th scope="col">Sub category</th>
            <th scope="col">Description</th>
            <th scope="col">Picture</th>
            <th colspan="3" scope="col">Operations</th>
          </tr>
          </thead>

          <tbody>
          <% @items.each do |item| %>
            <tr>
              <td scope="col"><%= item.user_id %></td>
              <td scope="col"><%= item.title %></td>
              <td scope="col"><%= item.quality %></td>
              <td scope="col"><%= item.price %></td>
              <td scope="col"><%= item.color %></td>
              <td scope="col"><%= item.location %></td>
              <td scope="col"><%= item.category %></td>
              <td scope="col"><%= item.sub_category %></td>
              <td scope="col"><%= item.description %></td>
              <td scope="col"><%= item.picture %></td>
              <td><%= link_to 'Show', item %></td>
              <% if item.user_id == current_user.id || current_user.admin %>
                <td><%= link_to 'Edit', edit_item_path(item) %></td>
                <td><%= link_to 'Destroy', item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <br>

  <%= link_to 'New Item', new_item_path %>
</div>

