<!-- File Edited on 07/23/2020 by Yifan Yao: Insert Bootstrap for better view -->
<!-- File Edited on 07/23/2020 by Troy Stein: Code to account for User id -->
<!-- File Edited on 07/25/2020 by Yifan Yao: Make title in header -->
<div class="container">
  <h1 class="pt-3"><%= @item.title %></h1>

  <p>
    <strong>User:</strong>
    <%= @item.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @item.title %>
  </p>

  <p>
    <strong>Quality:</strong>
    <%= @item.quality %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @item.price %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @item.color %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @item.location %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @item.category %>
  </p>

  <p>
    <strong>Sub category:</strong>
    <%= @item.sub_category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @item.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= @item.picture %>
  </p>
  <%if @item.user_id ==  current_user.id %>
    <%= link_to 'Edit', edit_item_path(@item) %> |
  <%end%>
    <%= link_to 'Back', items_path %>
</div>