<!-- File Edited on 07/30/2020 by Yifan Yao: Show buyer's user id for seller to make a transaction -->
<!-- File Edited on 07/31/2020 by Yifan Yao: Add more art works here -->
<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <p class="alert alert-warning"><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction
        from being saved:</p>

      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @transaction.user_id != current_user.id %>
    <p class="alert alert-danger">You can only create transaction once.</p>
    <p class="alert alert-primary">You may find User ID through conversation.</p>
    <div class="field">
      <%= form.hidden_field :item_id, :value => params[:item] %>
    </div>
    <div class="field py-1 form-group">
      <%= form.label :user_id, "User ID" %>
      <%= form.number_field :user_id, class: "form-control", in: 1..@num_users %>
    </div>
  <% end %>

  <% if @transaction.user_id == current_user.id %>
    <p class="alert alert-warning">Please provide a value between 1 to 5</p>
    <div class="field py-1 form-group">
      <%= form.label :rating %>
      <%= form.number_field :rating, class: "form-control" %>
    </div>
  <% end %>

  <div class="actions py-1 form-group">
    <%= form.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
