<%= link_to 'Back to Profile', '/profile/user_profile'%>
<%= form_for @item do |f| %>
  <p>
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </p>
  <p>
    <%= f.submit "Update Changes"%>
  </p>
<% end %>