<!--File Created 07/18/2020 by Amanda Cheng-->
<!--File Edited 07/20/2020 by Amanda Cheng: Introduced Bootstrap-->
<!--File Edited 07/26/2020 by Amanda Cheng: Updated Bootstrap to enhance user interface-->
<!--File Edited 07/27/2020 by Amanda Cheng: Updated Bootstrap to align listings-->
<!--File Edited 07/28/2020 by Amanda Cheng: Refactored code-->

<div class="center jumbotron bg">
  <h2 id="title"><%= @title + " for " + @full_name %></h2>
  <div class="userAttr">
    <div class="d-flex flex-row">
      <p class="text-primary p-2">Email: </p>
      <p class="p-2"><%= current_user.email %> </p>
    </div>
    <div class="d-flex flex-row">
      <p class="text-primary p-2">Number of Listings: </p>
      <p class="p-2"><%= @num_listings %></p>
    </div>
  </div>

  <div class="newItem">
    <%= link_to "Add New Item!", new_item_path, class: "btn btn-sm btn-primary" %>
  </div>

  <h3 class="big_title">Your Items</h3>
  <%#The design of layout is that only 4 items are shown in 1 row in user profile %>
  <% num_of_cols = 4 %>
  <% row_count = 0 %>
  <div class="item_list">
    <% @item.each do |i| %>
      <%# For every number of columns, create new row %>
      <% if row_count % num_of_cols == 0 %>
        <div class="row">
      <% end %>
      <% row_count = row_count + 1 %>

      <div class="text-center p-2">
        <div>
          <p class="item_title"><%= i.title %></p>
          <% if i.picture.attached? %>
            <div class="thumbnail">
              <img src="<%= (url_for(i.picture)) %>" alt=i.title/>
            </div>
          <% else %>
            <h3>No Image attached</h3>
          <% end %>

          <% if (Transaction.find_by_item_id i).nil? %>
            <div class="pb-2"><%= link_to "Show Item", i %> | <%= link_to "Sell Item", new_transaction_path(item: i) %>
              | <%= link_to "Edit Item", edit_item_path(i) %>
              | <%= link_to "Delete Item", i, :method => :delete, data: {confirm: "Are you sure?"} %></div>
          <% else %>
            <div class="pb-2"><%= link_to "Show Item", i %> | Item Sold
              | <%= link_to "Edit Item", edit_item_path(i) %>
              | <%= link_to "Delete Item", i, :method => :delete, data: {confirm: "Are you sure?"} %></div>
          <% end %>
          <%#=Another way to show delete button%>
          <%#= link_to "Delete Item", class: "btn btn-sm btn-primary", controller: 'profile', action: 'destroy', id: i.id, method: :delete%>
        </div>
      </div>
      <%# End every 4 column item listing with end of row tag %>
      <% if (row_count % num_of_cols == 0) %>
        </div>
      <% end %>

    <% end %>
  </div>

</div>
