<!-- File Created 07/18/2020 by Amanda Cheng -->
<!-- File Edited on 07/20/2020 by Amanda Cheng: Introduced Bootstrap -->
<!-- File Edited on 07/26/2020 by Amanda Cheng: Updated Bootstrap to enhance user interface -->
<!-- File Edited on 07/27/2020 by Amanda Cheng: Updated Bootstrap to align listings -->
<!-- File Edited on 07/28/2020 by Amanda Cheng: Refactored code -->
<!-- File Edited on 07/30/2020 by Troy Stein: Edited profile page to have transactions -->
<!-- File Edited on 07/30/2020 by Yifan Yao: Add order history, insert Bootstrap -->
<!-- File Edited on 07/30/2020 by Yifan Yao: Anyone cannot edit/delete item when it sold -->
<div class="container-fluid center jumbotron bg">
  <h1 class="pt-3"><%= @title + " for " + @full_name %></h1>
  <div class="userAttr">
    <div class="d-flex flex-row">
      <p class="text-primary p-2">Email: </p>
      <p class="p-2"><%= current_user.email %> </p>
    </div>
    <div class="d-flex flex-row">
      <p class="text-primary p-2">Number of Listings: </p>
      <p class="p-2"><%= @num_listings %></p>
    </div>
  </div>

  <div class="newItem">
    <%= link_to "Add New Item!", new_item_path, class: "btn btn-md btn-primary" %>
  </div>

  <h1 class="pt-3">Your Listing</h1>
  <%#The design of layout is that only 4 items are shown in 1 row in user profile %>
  <div class="item_list row">
    <% @item.each do |i| %>
      <div class="col-lg-3 col-md-4 text-center p-2">
        <p class="item_title"><%= i.title %></p>
        <% if i.picture.attached? %>
          <div class="thumbnail">
            <img class="img-fluid" src="<%= (url_for(i.picture)) %>" alt=i.title/>
          </div>
        <% else %>
          <h3>No Image attached</h3>
        <% end %>

        <% if (Transaction.find_by_item_id i).nil? %>
          <div class="pb-2"><%= link_to "Show", i %> | <%= link_to "Sell", new_transaction_path(item: i) %>
            | <%= link_to "Edit", edit_item_path(i) %>
            | <%= link_to "Delete", i, :method => :delete, data: {confirm: "Are you sure?"} %></div>
        <% else %>
          <div class="pb-2"><%= link_to "Show Item", i %> | Item Sold</div>
        <% end %>
        <%#=Another way to show delete button%>
        <%#= link_to "Delete Item", class: "btn btn-sm btn-primary", controller: 'profile', action: 'destroy', id: i.id, method: :delete%>
      </div>

    <% end %>
  </div>

  <div class="pt-5">
    <h1>Order History</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Seller</th>
          <th scope="col">Bought On</th>
          <th scope="col">Your Rates</th>
        </tr>
        </thead>

        <tbody scope="col">
        <% @purchases.each do |p| %>
          <tr>
            <td><%= p.item.title %></td>
            <td><%= User.find(p.item.user_id).full_name %></td>
            <td><%= p.created_at.in_time_zone('EST') %></td>
            <% if p.rating.nil? %>
              <td><%= link_to "Rate Now", p %></td>
            <% else %>
              <td><%= p.rating %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>