<!--File Created 07/18/2020 by Amanda Cheng-->
<!--File Edited 07/20/2020 by Amanda Cheng: Introduced Bootstrap-->
<!--File Edited 07/26/2020 by Amanda Cheng: Updated Bootstrap to enhance user interface-->
<!--File Edited 07/27/2020 by Amanda Cheng: Updated Bootstrap to align listings-->
<!--File Edited 07/28/2020 by Amanda Cheng: Refactored code-->

<div class="center jumbotron bg">
  <h2 id="title"><%= @title + " for " + @full_name %></h2>
  <div class="userAttr">
    <div class="d-flex flex-row">
      <p class="text-primary p-2">Email: </p>
      <p class="p-2"><%= current_user.email %> </p>
    </div>
    <div class="d-flex flex-row">
      <p class="text-primary p-2">Number of Listings: </p>
      <p class="p-2"><%= @num_listings %></p>
    </div>
  </div>

  <div class="newItem">
    <%= link_to "Add New Item!", new_item_path, class: "btn btn-sm btn-primary" %>
  </div>

  <h3>Your Items</h3>
  <%#The design of layout is that only 4 items are shown in 1 row in user profile %>
  <%numOfCols = 4 %>
  <%rowCount = 0 %>
  <div class="h">
    <% @item.each do |i| %>
      <%# For every number of columns, create new row %>
      <%if (rowCount % numOfCols == 0)%>
        <div class="row">
      <%end  %>
      <%rowCount= rowCount+1 %>

      <div class="col">
        <div>
        <p><%= i.title %></p>
          <div class="thumbnail">
            <img src="<%=(url_for(i.picture)) %>" alt= i.title/>
          </div>
          <p><%= link_to "Edit Item", action: "edit", id: i.id, class: "btn btn-sm btn-primary" %> <%= link_to "Delete Item", action: "destroy", id: i.id, :method => :delete, confirm: "Are you sure?" %></p>
        <%#=Another way to show delete button%>
        <%#= link_to "Delete Item", class: "btn btn-sm btn-primary", controller: 'profile', action: 'destroy', id: i.id, method: :delete%>
        </div>
      </div>
      <%# End every 4 column item listing with end of row tag %>
      <%if (rowCount % numOfCols == 0)%>
        </div>
      <%end  %>

    <% end %>
  </div>

</div>
