<!DOCTYPE html>
<html>
  <head>
    <title>Project60011100100000001</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!--File Edited on 07/19/2020 by Kevin Dong: Added navigation-->
  <body>
  <header>
    <%= render "navigation/navigation" %>
  </header>
    <!--File Edited on 07/13/2020 by Yifan Yao: Add notice and alert-->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
