<!-- File Edited on 07/19/2020 by Yifan Yao: Insert Bootstrap for better view -->
<!-- File Edited on 07/20/2020 by Yifan Yao: Make view responsive -->
<!-- File Edited on 07/20/2020 by Yifan Yao: Adjust Bootstrap settings -->
<!-- File Edited on 07/20/2020 by Yifan Yao: Emphasis important messages -->
<!-- File Edited on 07/21/2020 by Yifan Yao: Prevent misunderstood by user -->
<div class="container col-lg-5">
  <h2 class="pt-3">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
      <small>(leave blank if you don't want to change it)</small>
      <% if @minimum_password_length %>
        <br/>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
    </div>

    <div class="field form-group pt-5">
      <%= f.label :current_password %>
      <small class="font-weight-bold">(we need your current password to confirm your changes)</small><br/>
      <%= f.password_field :current_password, autocomplete: "current-password", :class => "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", :class => "btn btn-primary w-25" %>
    </div>
  <% end %>

  <h3 class="pt-5">Cancel my account</h3>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, :class => "btn btn-primary px-3" %></p>

  <%= link_to "Back", :back %>
</div>
